<div class="container">
    <div class="article-meta">
        <h2 style="margin-top: 20px" ng-bind="$ctrl.ordenador.title"></h2>
        <p style="margin-top: 20px" ng-bind="'Processor: ' + $ctrl.ordenador.processor"></p>
        <p style="margin-top: 20px" ng-bind="'Graphic Card: ' + $ctrl.ordenador.graphicCard"></p>
        <p style="margin-top: 20px" ng-bind="'Memory RAM: ' + $ctrl.ordenador.memoryRAM"></p>
        <p style="margin-top: 20px" ng-bind="'Power Supply: ' + $ctrl.ordenador.powerSupply"></p>
        <p style="margin-top: 20px" ng-bind="'Author: ' + $ctrl.ordenador.author"></p>
        <button style="margin-top: 20px" ng-click="onBack()">Go Back</button>
    </div>
</div>